@import "tailwindcss";


:root {
  --background: #1a1a1a;
  --surface: #252525;
  --surface-hover: #2d2d2d;
  --text-primary: #ffffff;
  --text-secondary: #b0b0b0;
  --accent-lime: #32cd32;
  --accent-lime-hover: #28a428;
  --accent-pink: #ff1654;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-accent-lime: var(--accent-lime);
  --color-accent-lime-hover: var(--accent-lime-hover);
  --color-accent-pink: var(--accent-pink);
  --font-sans: var(--font-pt-sans-narrow);
  --font-mono: var(--font-ubuntu-mono);
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-pt-sans-narrow);
}

.navs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem;
  list-style: none;
}

.navs li {
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.navs li:hover {
  color: var(--accent-lime);
}

@media (min-width: 768px) {
  .navs {
    flex-direction: row;
    padding: 0;
    gap: 2rem;
  }
}